.main {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.informacoes {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.contButton .ButtonEditar {
    right: 5rem;
    top: 17rem;
    position: absolute;
    height: 4rem;
    width: 12rem;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.contButton .ButtonEditar:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.tpiconEditar {
    margin-right: 0.3rem;
    margin-left: 0;
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    gap: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
}

.lineSquare {
    width: 100%;
    max-width: 60%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin-bottom: 5rem;
}

.inputContainer {
    margin: 1rem;
}

.infoBookReserva {
    display: flex;
}

.imgReserva {
    height: 16rem;
    width: 12rem;
    border-radius: 0.5rem;
    margin-right: 1.2rem;
}

.livroInfo {
    font-weight: 400;
    margin-top: 0.313rem;
}

.headerLineSquare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geral {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.livro {
    margin-bottom: 0.6rem;
    margin-top: 0.188rem;
    font-size: 1.3rem;
}

.smallLineSquare {
    width: auto;
    height: 4rem;
    box-sizing: border-box;
    height: auto;
    border: 1px solid black;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin-bottom: 0;
}

.text {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.quant {
    font-weight: 600;
    font-size: 1.2rem;
}

.resumo {
    margin-top: 0.188rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    font-weight: 400;
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.titleSuperior {
    margin-bottom: 0.5rem;
}

.titleInferior {
    margin-top: 0.5rem;
}

.imgIcons {
    height: auto;
    width: 3.5rem;
}

.editar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reservButton {
    padding: 0.8rem 2.5rem;
    margin: 2rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
}

.reservButton:hover {
    opacity: 0.5;
    transition: 0.5s;
}