.main {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.aviso {
    display: flex;
    justify-content: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(80vh - 4.938rem);
    width: 100%;
}

.perfil {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

.PIContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.profileContainer {
    text-align: center;
    margin-right: 12rem;
}

.imgContainer {
    margin-bottom: 1.25rem;
}

.imgContainer img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid #ccc;
}

.sexoForm input[type="file"] {
    display: none;
}

.inputGroup {
    flex-direction: column;
    margin-bottom: 1.4rem;
    display: flex;
}

.textInput {
    font-weight: 400;
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
}

.infos {
    font-weight: 300;
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.8rem;
}

.inputField {
    width: 100%;
    height: 4.5rem;
    padding: 2rem;
    margin: 0.8rem 0;
    border: 1px solid #CCC;
    border-radius: 3rem;
    box-sizing: border-box; 
    background-color: #FFF;
}

/* Remove as setas do input de número */
.inputField input[type=number]::-webkit-outer-spin-button,
.inputField input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sexoForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 0.75rem;
    font-weight: 300;
    font-size: 1.4rem;
    flex-direction: row;
}

.sexoForm legend {
    margin: 0;
    padding-right: 0.625rem;
    font-weight: 300;
    font-size: 1.4rem;
}

.sexoForm label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sexoForm input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.sexoForm input[type="radio"]:checked {
    border: 1px solid #FF735C;
    background-color: #FF735C;
}

.sexoForm input[type="radio"]:checked::before {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redefinir {
    color: #FF735C;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.redefinir a {
    color: #FF735C;
}

.editar {
    width: 100%;
    align-items: flex-end;
    flex: 1;
    padding-right: 20;
    padding-bottom: 10;
}

.editarButton {
    width: 5.5rem;
    height: 5.5rem;
    padding: 0.7rem;
    margin: 1.25rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem; 
    position: absolute;
    right: 4%;
    bottom: 10%;
}

.editarButton:hover {
    background-color: #3F7263;
    transition: 0.5s;
}

.editarButton img {
    height: auto;
    width: 4rem;
}