.main {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.contato {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.563rem;
  margin-bottom: 0.938rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  gap: 0.625rem;
  padding: 1.25rem;
  box-sizing: border-box;
}

.imgContato {
  height: auto;
  width: 20%;
}

.escola {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125rem;
}

.infos {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.editar {
  width: 100%;
  align-items: flex-end;
  flex: 1;
}

.editarButton {
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.7rem;
  margin: 1.25rem 0;
  background-color: #FF735C;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem; 
  position: absolute;
  right: 4%;
  bottom: 10%;
}

.editarButton:hover {
  background-color: #3F7263;
  transition: 0.5s;
}

.editarButton img {
  height: auto;
  width: 4rem;
}