.main {
  padding: 20px;
}

.searchOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 0rem;
  font-weight: 300;
  font-size: 1.4rem;
  flex-direction: row;
  margin-bottom: 3rem;
}

.searchOptions label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchOptions input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.searchOptions input[type="radio"]:checked {
  border: 1px solid #FF735C;
  background-color: #FF735C;
}

.searchOptions input[type="radio"]:checked::before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.imgHorario {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.imgFrase {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.Home {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0.938rem;
  text-align: center;
}

.bookSection {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.title {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center; 
  margin: 0; 
  padding: 0; 
}

.bookList {
  font-weight: 400;
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  cursor: pointer;
  width: 100%;
}

.bookList a {
  text-decoration: none;
  color: #000;
}

.bookItem {
  width: 20rem;
  height: auto;
  box-sizing: border-box;
  background: #FFF;
  padding: 0.25rem;
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.288);
}

.bookItem:hover {
  transform: scale(1.05);
}

.bookCourse {
  font-size: 1.2rem;
  color: #000;
  margin: 0;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-weight: 400;
  margin-top: 0.5rem;
}

.bookImage {
  width: 45%;
  height: auto;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
}

.bookInfo {
  padding: 1px;
}

.bookTitle {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 0.5rem;
  color: #000;
}

.bookAuthor {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.aviso {
  width: 300px;
}