
.main {
    padding: 20px;
}

.perfil {
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 1.563rem;
    margin-bottom: 0.938rem;
    text-align: center;
}

.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

.PIContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 50rem;
    box-sizing: border-box;
}

.profileContainer {
    text-align: center;
    margin-right: 9.375rem;
}

.imgContainer {
    margin-bottom: 0.625rem;
}

.imgContainer img {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* Estilo para custom-file-upload */
.customFileUpload {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.875rem;
    cursor: pointer;
    background-color: #3F7263;
    color: white;
    border: 1px solid #3F7263;
    border-radius: 1.875rem;
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
}

.customFileUpload:hover {
    opacity: 0.5;
}

.inputContainer {
    width: 100%;
}

.inputField input[type="file"] {
    display: none;
}

.inputGroup {
    flex-direction: column;
    margin-bottom: 0.625rem;
    display: flex;
}

.textInput {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    width: 100%;
    margin: 0 auto;
}

.inputField {
    width: 100%;
    height: 2.813rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
    border: 1px solid #CCC;
    border-radius: 1.875rem;
    box-sizing: border-box; 
    background-color: #FFF;
}

/* Remove as setas do input de número */
.inputField input[type=number]::-webkit-outer-spin-button,
.inputField input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sexoForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin-top: 0.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    flex-direction: row;
}

.sexoForm legend {
    margin: 0;
    padding-right: 0.625rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.938rem;
}

.sexoForm label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sexoForm input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: relative;
}

.sexoForm input[type="radio"]:checked {
    border: 1px solid #FF735C;
    background-color: #FF735C;
}

.sexoForm input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redefinir {
    color: #FF735C;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
    margin-top: 1.563rem;
    margin-bottom: 0.313rem;
    text-align: center;
}

.redefinir a {
    color: #FF735C;
}

.editar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.saveButton {
    height: 2.813rem;
    padding: 0.625rem 1.875rem;
    margin: 1.25rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.saveButton:hover {
    opacity: 0.5;
    transition: 0.5s;
}