.main {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.informacoes {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    gap: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
}

/* Estilo para custom-file-upload */
.customFile {
    display: none;
  }
  
  .customFileUpload {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1rem;
    cursor: pointer;
    background-color: #3F7263;
    color: white;
    border: 1px solid #3F7263;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .customFileUpload:hover {
    opacity: 0.5;
    transition: 0.5s;
  }

.lineSquare {
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.inputContainer {
    margin: 1rem;
}

.infoBookReserva {
    display: flex;
    width: 105rem;
}

.imgBook {
    margin-bottom: 1.25rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.imagePreview {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.imgReserva {
    height: 17rem;
    width: 12rem;
    border-radius: 0.5rem;
    margin-right: 1.2rem;
}

.livroInfo {
    font-weight: 400;
    margin-top: 0.313rem;
    margin-left: 2rem;
    width: 100%;
}

.headerLineSquare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geral {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.livro {
    margin-bottom: 0.6rem;
    margin-top: 0.188rem;
    font-size: 1.3rem;
}

.cods {
    display: flex;
    flex-direction: row;
}

.codsText {
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 0.5rem;
}

.editInputCods {
    flex-direction: column;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    width: 10rem;
    height: 3.5rem;
    padding: 1.5rem;
    margin: 0.625rem 0;
    margin-right: 1rem;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

.smallLineSquare {
    width: auto;
    max-height: 8rem;
    box-sizing: border-box;
    height: auto;
    border: 1px solid black;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin-bottom: 0;
}

.quantidade {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.editInput {
    flex-direction: column;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    width: 25rem;
    height: 3.5rem;
    padding: 1.5rem;
    margin: 0.625rem 0;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

.editInputQuant {
    width: 6rem;
}

.quant {
    font-weight: 600;
    font-size: 1.2rem;
}

/* Remove as setas do input de número */
.quantidade input[type=number]::-webkit-outer-spin-button,
.quantidade input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.listaCursos {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputCursos {
    width: auto;
}

.opcaoCursos {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cursosButton {
    height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.cursosButton:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.selected {
    background-color: #3F7263;
    color: #FFF;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
}


.textInput {
    font-weight: 300;
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
}

.editInputTittle {
    width: 81.5rem;
}

.inputResumo {
    width: 90%;
    height: 16rem;
    padding: 1.5rem;
    margin: 0.625rem 0;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

.resumo {
    margin-top: 0.188rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.editInputIcons {
    width: 25rem;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.titleSuperior {
    margin-bottom: 0.5rem;
}

.titleInferior {
    margin-top: 0.5rem;
}

.imgIcons {
    height: auto;
    width: 3.5rem;
}

.opcao {
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }
  
  .opcao option:focus {
    color: #fff;
    background-color: #FF735C;
  }

.editar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90%;
}

.saveButton {
    height: 4rem;
    padding: 0.7rem 2.5rem;
    margin: 1.25rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
}

.saveButton:hover {
    opacity: 0.5;
    transition: 0.5s;
}