.containerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 100%;
}

.containerNav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 100%; 
}

.menu {
    background-color: #FFF;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.retangGreen {
    width: 100%;
    height: 6.5rem;
    background-color: #3F7263;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerNav .menu .menuMobile .icon {
    color: #FFF;
    position: absolute;
    height: 1.875rem;
    width: auto;
    bottom: 1.875rem;
    left: 1.875rem;
}

.imgLogo {
    height: 5.5rem;
    width: 7rem;
}

.imgEtec {
    height: 3.5rem;
    width: 8.4rem;
    position: absolute;
    right: 0;
    bottom: 1.2rem;
    margin-right: 3rem;
}

.retangOrange {
    width: 100%;
    height: 1.4rem; 
    background-color: #FF735C;
}

.containerNav .menu .menuGrande {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.containerNav .menu .menuGrande a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    height: 5rem;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    flex-grow: 1;
}

.containerNav .menu .menuGrande a.active {
    color: black;
    background-color: #FF735C;
}
.editar {
    display: flex;
    justify-content: center;
    width: auto;
}

.editarMobile {
    display: flex;
    justify-content: left;
    width: auto;
}

.sairMenuGrande {
    padding: 1.25rem 3.5rem;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sairMobile {
    padding-top: 0.2rem;
    padding-bottom: 1.25rem;
    padding-right: 100%;
    padding-left: 1.5rem;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}


.containerNav .menu .menuGrande .sairMenuGrande {
    color: red;
    cursor: pointer;
}

.containerNav .menu .menuGrande .sairMobile {
    color: red;
    cursor: pointer;
}

.containerNav .menu .menuGrande .tpicon {
    margin-right: 0.313rem;
}

.containerNav .menu .menuGrande .tpiconSair {
    margin-right: 0.313rem;
    color: red;
}

.containerNav .menu .menuGrande {
    display: flex;
}

.containerNav .menu .menuMobile {
    display: none;
}

.containerNav .menuMobileExpandidon {
    display: none;
}

.containerNav .menuMobileExpandidos a {
    display: none;
    width: 100%;
    height: 4rem;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 300;
    padding-left: 1.5rem;
    background-color: #FFF;
}

.containerNav .menuMobileExpandidos a.active {
    background-color: #FF735C;
    color: #000;
}

.containerNav .menuMobileExpandidos .tpicon {
    margin-right: 0.938rem;
}

.containerNav .menuMobileExpandidos a.sairMenuGrande {
    color: red;
}

.containerNav .menuMobileExpandidos .sairMobile {
    color: red;
    border-bottom: 0.5px solid #000;
}

.containerNav .menuMobileExpandidos .tpiconSair {
    color: red;
    user-select: none;
    margin-right: 0.938rem;
}

.menu .menuGrande a.sair {
    color: red;
}

.menu .menuGrande .tpiconSair {
    color: red;
    user-select: none;
}

@media screen and (max-width: 940px) {
    .containerNav {
        flex-direction: column;
    }

    .containerNav .menu {
        width: 100%;
        justify-content: space-between;
    }

    .containerNav .menu .menuGrande {
        display: none;
    }

    .containerNav .menu .menuMobile {
        display: flex;
    }

}

@media screen and (max-width: 940px) {
    .containerNav .menuMobileExpandidos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}