.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
  text-align: center;
  position: relative;
}

.conteudo {
  padding: 15px;
}

.inputGroup {
  flex-direction: column;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: center;
}

.inputField {
  width: 100%;
  height: 4.4rem;
  padding: 0.625rem;
  margin: 0.625rem 0rem 1.6rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 1.5rem;
  font-size: 1.25rem;
}

.textInput {
  font-weight: 300;
  font-size: 1.4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  text-align: left;
  margin-left: 10px;
}

.sucesso {
  /* position: absolute;
      right: 20%;  */
  display: none;
  margin-left: 0.5rem;
  font-size: 2.7rem;
  color: #2ecc71;
}

.erro {
  /* visibility: hidden; */
  display: none;
  margin-left: 0.5rem;
  font-size: 2.7rem;
  color: #e74c3c;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2.6rem;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.modalButtonAdd {
  background-color: #FF735C;
  color: white;
  border: none;
  padding: 1.4rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modalButtonAdd:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.modalButtonCanc {
  background-color: #FFF;
  color: black;
  border: 1px solid black;
  padding: 1.4rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modalButtonCanc:hover {
  opacity: 0.5;
  transition: 0.5s;
}


.divInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

 .divRadio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 1rem;
}

.small {
  /* visibility: hidden;  */
  /* display: none; */
  color: #e74c3c;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.select {
  padding: 0 1rem;
  width: 90%;
  font-size: 1.4rem;
  height: 5rem;
  border-radius: 1rem;
  border: 2px solid #7F0000;
  color: #7F0000;
  text-align: center;
}

.select option:focus {
  color: #FAFAFA;
  background-color: #7F0000;
}

.select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border-color: #B71C1C;
}

/* Error and Success */
.formControl.success input {
  border-color: #2ecc71;
}

.formControl.error input {
  border-color: #e74c3c;
}

.formControl.success .divInput .sucesso {
  /* visibility: visible; */
  display: block;
}

.formControl.error .divInput .erro {
  display: block;
  /* visibility: visible; */
}

.formControl.error small {
  /* visibility: visible; */
  display: block;
}

.formControl.success .divInput select {
  border-color: #2ecc71;
}

.formControl.error .divInput select {
  border-color: #e74c3c;
}